.contact-section {
    display: flex;
    margin-top: 500px;
    justify-content: space-around;
}
.logo2 {
    font-size: 8rem;
    font-style: italic;
    color: #fff;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-holder {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.label {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0a1828 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
.submit {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    width: 50%;
    outline: none;
    border-color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    margin: auto;
    margin-bottom: 3rem;
    cursor: pointer;
}
.submit:hover {
    background-color: #fff;
    color: blue;
}
.contact {
    width: 130%;
    margin: auto;
    padding: auto;
}
.form-message {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(158, 255, 158, 0.5);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    right: auto;
    z-index: 999;
}
.github-icon {
    position: fixed;
    left: 25px;
    bottom: 200px;
    width: 35px;
    cursor: pointer;
    filter: invert(100%);
}
.github-icon:hover {
    filter: invert(50%);
}
.linkedin-icon {
    position: fixed;
    left: 25px;
    bottom: 280px;
    width: 35px;
    cursor: pointer;
    filter: invert(100%);
}
.linkedin-icon:hover {
    filter: invert(50%);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .github-icon {
        position: static;
    }
    .linkedin-icon {
        bottom: 20px;
        position: static;
        margin-left: 2rem;
    }
    .icons-container {
        display: flex;
        justify-content: center;
    }

}
@media (max-width: 767px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .github-icon {
        position: static;
    }
    .linkedin-icon {
        bottom: 20px;
        position: static;
        margin-left: 2rem;
    }
    .icons-container {
        display: flex;
        justify-content: center;
    }
    .logo2 {
        width: 80%;
    }
    .contact {
        margin: 0;
    }
    .submit {
        width: 100%;
    }
    .form-holder {
        width: 80%;
    }
}
