.contact-section{
    display: flex;
    margin-top: 500px;
}
.logo2{
    margin-left: 20rem;
    padding-top: 80px;
    font-size: 8rem;
    font-style: italic;
    color: #fff;
}
.form-holder{
    margin-left: 17rem;
    display: flex;
    flex-direction: column;
    width: 35%;
}
.form{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.form-title{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.label{
    width:100%;
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    border-bottom:1px solid #fff;
    box-shadow: none;

}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.submit{
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    width:50%;
    outline: none;
    border-color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    margin: auto;
    margin-bottom: 3rem;
    cursor: pointer;
}
